@use "../../base.scss";

.home_container {
  color: base.$white;
  padding: 0px 50px;

  @media (max-width: 768px) {
    padding: 0px 20px;
  }

  .hero_banner_container {
    position: relative;

    .hero_banner_container__hero_banner {
      object-position: center;
      object-fit: cover;
      border-radius: 50px;
      height: 200px;
      width: 100%;

      @media (max-width: 768px) {
        height: 100px;
        border-radius: 10px;
      }
    }

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 500;
      font-size: 34px;
      margin: 0;

      @media (max-width: 768px) {
        font-size: 26px;
        width: 100%;
        padding: 0 30px 0;
      }
    }
  }

  .accomo_card_container {
    margin: 30px 0;
    background-color: base.$bg-grey1;
    padding: 40px;
    border-radius: 15px;
    display: grid;
    gap: 35px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;

    @media (max-width: 768px) {
      background-color: transparent;
      padding: 0;
      gap: 20px;
    }
  }
}
