@use "../../base.scss";

.card {
  height: 300px;
  min-height: 300px;
  border-radius: 8px;
  //   background-color: base.$primary-red;
  //   background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  font-weight: 500;
  padding: 10px;
  overflow: hidden;
  position: relative;

  img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }

  p {
    font-weight: 600;
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: base.$white;
  }

  @media (max-width: 768px) {
    padding: 0;
    width: 100%;
  }
}
