@use "../../base.scss";

.collapse__container {
  background-color: base.$bg-grey1;
  color: base.$primary-red;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  height: 100%;

  .collapse__container__title_container {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: base.$primary-red;
    font-weight: 500;
    border-radius: 8px;

    .collapse__container__title {
      color: base.$white;
      display: inline-block;
      font-size: larger;
    }

    .collapse__container__arrow_up {
      height: 30px;
      width: 30px;
      display: inline-block;
      transform: rotate(180deg);
      transition: base.$base-transition;
      cursor: pointer;
    }

    .collapse__container__arrow_down {
      cursor: pointer;
      height: 30px;
      width: 30px;
      display: inline-block;
      transition: base.$base-transition;
    }
  }

  .description {
    line-height: 23px;
    transition: all 0.7s;
    box-sizing: border-box;
    height: 100%;
    min-height: 100px;
    max-height: 500px;
    overflow-y: auto;
    // display: flex;
    // padding: 16px;

    p {
      // min-height: 100%;
      opacity: 1;
      transform: translateY(0%);
      height: 100%;
      // flex-grow: 1;
      transition: all 0.7s;
    }
  }

  .closed_description {
    line-height: 23px;
    transition: all 0.7s;
    height: 0px;
    min-height: 0px;
    max-height: 0px;
    display: flex;
    p {
      transition: all 0.7s;
      height: 0px;
      opacity: 0;
      transform: translateY(-100%);

      // flex-grow: 0;
    }
  }

  .description__p {
    // padding: 16px;
    // width: 90%;
    margin: 20px;
    // flex-grow: 1;
  }
}
